
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(255,255,255);
}

a:hover {
  text-decoration: none;
  color: rgb(255,255,255);
}


body {
  font-family: 'Lato', sans-serif;
  color:rgb(73, 71, 71);
}

/* ****** logo ****** */

.logo-wrapper {
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.logo-holder {
  width: 100%;
}

.logo img {
  width: 100% \ 9;
  height: auto;
}

hr.logo-line {
  z-index: 2;
  position: relative;
  background-color: rgba(250, 235, 215, 0.5)
}

/* ****** nav ****** */

#mainNavbar {
  z-index: 3;
  height: 80px;
  border-bottom: solid 1px rgb(218, 210, 210);
}
#mainNavbar ul {
  /* display: block; */
  margin: 0px auto;
}

#mainNavbar ul li a{
  color: rgb(255,255,255);
  letter-spacing: 4px;
}

#mainNavbar {
  font-size: 0.85rem;
  font-weight: 100;    
}

#mainNavbar .nav-link {
  color: rgb(255,255,255);
}

#mainNavbar .nav-link:hover {
  color: #EA1C2C;
}

/* #mainNavbar .navbar-brand {
  color: #EA1C2C;
  font-size: 1.5rem;
} */

#mainNavbar li.dropdown .dropdown-menu{
  background-color: rgb(105, 105, 105);
}
#mainNavbar li.dropdown .dropdown-menu a.dropdown-item :hover{
  background-color: rgb(105, 105, 105);
}

.navbar.scrolled {
  background: rgb(255,255,255);
  transition: background 500ms;
}


.nav-link.scrollLink {
    color: rgb(105, 105, 105) !important; /* dimgrey */
}

.one-edge-shadow {
	-webkit-box-shadow: 0 5px 6px -6px rgb(105, 105, 105);
	   -moz-box-shadow: 0 5px 6px -6px rgb(105, 105, 105);
	        box-shadow: 0 5px 6px -6px rgb(105, 105, 105);
}

/* ****** hero ****** */

.pic-wrapper {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  /* margin-top: 0px; */
}

figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  
  /*animation*/

  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

/* figurecaption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
} */

.pic-1 {
  opacity: 1;
  background: url('https://i.imgur.com/s9ct95C.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url('https://i.imgur.com/9tteNrq.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(155, 219, 166, 0.5);
  background-blend-mode: multiply;
}

.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url('https://i.imgur.com/FQWrWiX.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url('https://i.imgur.com/R0RM5fh.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* keyframes*/

@keyframes 
slideShow {  
  0% {
  opacity: 0;
  transform:scale(1);
  -ms-transform:scale(1);
  }
  5% {
  opacity: 1
  }
  25% {
  opacity: 1;
  }
  30% {
  opacity: 0;
  transform:scale(1.1);
  -ms-transform:scale(1.1);
  }
  100% {
  opacity: 0;
  transform:scale(1);
  -ms-transform:scale(1);
  }
}
 @-o-keyframes 
slideShow {  
  0% {
  opacity: 0;
  -o-transform:scale(1);
  }
  5% {
  opacity: 1
  }
  25% {
  opacity: 1;
  }
  30% {
  opacity: 0;
  -o-transform:scale(1.1);
  }
  100% {
  opacity: 0;
  -o-transform:scale(1);
  }
}
 @-moz-keyframes 
slideShow {  
    0% {
  opacity: 0;
  -moz-transform:scale(1);
  }
  5% {
  opacity: 1
  }
  25% {
  opacity: 1;
  }
  30% {
  opacity: 0;
  -moz-transform:scale(1.1);
  }
  100% {
  opacity: 0;
  -moz-transform:scale(1);
  }
}
 @-webkit-keyframes 
slideShow {  
    0% {
  opacity: 0;
  -webkit-transform:scale(1);
  }
  5% {
  opacity: 1
  }
  25% {
  opacity: 1;
  }
  30% {
  opacity: 0;
  -webkit-transform:scale(1.1);
  }
  100% {
  opacity: 0;
  -webkit-transform:scale(1);
  }
}

header.header-wrapper {
	background: url('https://i.imgur.com/9tteNrq.jpg') 50% 0;
 	/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  color: rgb(255,255,255);
  /* background-color: rgba(200,100,0,0.5); */
  /* background-color: rgba(0,0,0,0.2); */
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: multiply;
}

.heading-text {
  margin-top: 15%;
  /* max-height: 100px; */
  /* max-width: 100%; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  /* background: rgba(241, 175, 87, 0.5); */
  /* background-color: rgba(250, 235, 215, 0.2) */
}

h1.heading {
  font-size: 3.5rem;
  font-weight: 200;
}

p.heading-paragraph {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.2px;
}

/* *********************  PROFILE  ********************* */

#about {
  position: relative;
  background-color: rgb(255,255,255);
  z-index: 2;
}

#about p.text-large {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

/* *********************  ABOUT  ********************* */

/* #featured {
  color: rgb(255,255,255);
  position: relative;
  z-index: 1;
} */

.outer-wrapper {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.outer-wrapper > .inner-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  -moz-transition: all 3s;
  -webkit-transition: all 3s;
  transition: all 3s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.outer-wrapper:hover > .inner-wrapper {
  -moz-transform: scale(1.3,1.3);
  -webkit-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3);    
}

.profile-feature-1 {
  background: url('https://i.imgur.com/twq2tkJ.jpg') 50% 0;
  background-size: cover;
  height: 350px;
}

.profile-feature-2 {
  background: url('https://i.imgur.com/ACLrrGY.jpg') 80% 0;
  background-size: cover;
  height: 350px;
}

.profile-feature-3 {
  background: url('https://i.imgur.com/M62RUOo.jpg') 50% 0;
  background-size: cover;
  height: 350px;
}

.featured-overlay {
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
}

.featured-section {
  margin: auto;
  position: absolute;
  top: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.featured-buttons {
  font-size: 0.8rem;
  border: 1px solid rgb(255,255,255) !important;
}

/* *********************  TESTIMONIAL  ********************* */

.testimonials {
  height: 400px;
  margin: 5px;
}

section.testimonials h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(0,0,0);
}

.clients-testimony p {
  font-size: 1.2rem;
}
.clients-testimony p:nth-child(2) {
  font-size: 1rem;
}
.clients-testimony p:last-child {
  font-size: 0.8rem;
}


/* --------- MEDIA QUERY ---------- */

@media (max-width: 992px) {
  .heading-text {
    margin-top: 22%;
  }
}

